{{!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <span class="navbar-brand mb-1 h1">All the Coding Questions That's Fit to Scrape</span>
</nav>
<div id="wrapper">
    <h1>Questions</h1>
    <h2><i></i></h2>
    <div class="container">
        {{!-- <div id="questions"></div> --}}

        <ul>
            {{#each questions}}
            <li>
                <p><span class="label">Title:</span> {{this.title}}</p>
                <p><span class="label">Link:</span> {{this.link}}</p>
            </li>
            {{/each}}
        </ul>

        <div id="notes"></div>
    </div>

    <br>
    <br>

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1"></span>
    </nav>

</div> --}}