/* body {
    background-color: #979bad;
  }

  #wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }

  #questions {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
    font-weight: bold;
  }

  #notes {
    float: right;
    width: 30%;
    color: black;
    background-color: #979bad;
    padding: 15px;
  }

  textarea,
  input {
    display: block;
    width: 100%;
    background-color: #979bad;
  }

  input {
    height: 150px;
    font-size: 24px;
  }

  textarea {
    height: 100px;
    font-size: 18px;
  }

  .container {
    position: relative !important;
    margin: 0 auto !important;
    width: 960px !important;
    font-size: 15px;
    border-radius: 20px;
    padding: 20px;
    background-color: #232e5e27;
    text-align: justify;
  }

  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.text-white {
    background-color: #232e5e !important;
  }

  ul nav.navbar-nav.navbar-right {
    position: right !important;
  }

  .navbar.navbar-light.bg-light {
    width: 100%;
    background-color: #232e5e !important;
    padding: 0px;
    border-top: 40px solid #232e5e;
  } */